<mat-form-field appearance="fill" class="w-100" *ngIf="selectedAccount">
    <mat-label>Accounts</mat-label>
    <mat-select [(value)]="selectedAccount">
        <mat-option [value]="option.name" *ngFor="let option of accounts">{{ option.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fas fa-building" style="color: #6bd098;"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Gates</p>
                            <p class="card-title"> 0
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="far fa-calendar-alt"></i> <span class="float-right">{{currentDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center">
                            <i class="fas fa-door-open" style="color: #fbc658;"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Admins</p>
                            <p class="card-title"> 0
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    <i class="far fa-calendar-alt"></i> <span class="float-right">{{currentDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fas fa-users" style="color: #51cbce;"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Users</p>
                            <p class="card-title"> 0
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="far fa-calendar-alt"></i> <span class="float-right">{{currentDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fas fa-exclamation-triangle" style="color: #ef8157;"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Errors</p>
                            <p class="card-title"> 0
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="far fa-calendar-alt"></i> <span class="float-right">{{currentDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
    </div>

</div>