<div class="card col-10 offset-1 col-md-4 offset-md-4 custom-card-margin">
    <div class="header">
        <h4 class="title">Login</h4>
    </div>
    <div class="content">
        <form (submit)="login($event)">
            <mat-form-field class="w-100">
                <mat-label>E-mail address</mat-label>
                <input matInput type="email" [(ngModel)]="email" name="email" [formControl]="emailFormControl" cdkFocusInitial>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email field is empty
                </mat-error>

            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password" name="password" [formControl]="passwordFormControl">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password field is empty
                </mat-error>
            </mat-form-field>

            <div class="input-group mt-2">
                <button class="btn btn-info w-100 mb-2" [disabled]="authenticationResult.isInProgress || anythingIsInvalid" color="primary" style="padding: 14px;" type="submit"><i *ngIf="authenticationResult.isInProgress"
                        class="fas fa-spinner fa-spin"></i>&nbsp;<b>LOGIN</b></button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-around">
            <a class="btn btn-primary btn-round" routerLink="/register">Register</a>
            <a class="btn btn-primary btn-round" routerLink="/forget-password">Forget Password</a>
        </div>
    </div>
</div>