<div class="col-10 offset-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 custom-card-margin">
    <div class="alert alert-info">
        <p>We have sent an email with a password-reset link to {{ email }}. In order to reset your password, please click the link.</p>
        <p>
            If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
        </p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success btn-round" routerLink="/login">Back</a>
        </div>
    </div>
</div>