@import "./paper-dashboard/paper-dashboard.scss";
body {
    background-color: #f4f3ef;
}

.mat-card-header-text {
    margin: 0px !important;
}

.toast.error {
    background-color: red !important;
}

.toast.success {
    background-color: green !important;
}