<div class="card col-10 offset-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 custom-card-margin">
    <div class="header">
        <h4 class="title">Register</h4>
    </div>
    <div class="content">
        <form (submit)="reset($event)">
            <mat-form-field class="w-100">
                <mat-label>E-mail address</mat-label>
                <input disabled matInput type="email" [(ngModel)]="command.email" name="email" [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email field is empty
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>New Password</mat-label>
                <input matInput type="password" [(ngModel)]="command.password" name="password1" [formControl]="passwordFormControl">
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Please enter new password
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Repeat new password</mat-label>
                <input matInput type="password" [(ngModel)]="command.password2" name="password2" [formControl]="passwordFormControl2">
                <mat-error *ngIf="passwordFormControl2.hasError('required')">
                    Please enter new password
                </mat-error>
                <div class="password-not-match" *ngIf="passwordFieldsNotMatch && !(passwordFormControl.hasError('required') || passwordFormControl2.hasError('required'))">
                    Passwords don't match
                </div>
            </mat-form-field>

            <div class="input-group mt-2">
                <button class="btn btn-info w-100 mb-2" [disabled]="result.isInProgress || anythingIsInvalid" color="primary" style="padding: 14px;" type="submit"><i *ngIf="result.isInProgress"
                        class="fas fa-spinner fa-spin"></i>&nbsp;<b>RESET</b></button>
            </div>
        </form>
    </div>
</div>